{% extends "layout.html" %}

{% block content %}
  
    <p class="text-left">This is a demonstration of PyTesseract OCR and OpenCV for image preprocessing.</p>
    <p>Upload an image of a document for OCR.</p>
    <div class="upload-form">
      <form action = "/uploader" method = "POST" 
        enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/><br/>
        Format:<select name="fmt" id="fmt"><option>TEXT</option><option>XML</option></select>
        &nbsp;UX:<select name="ux" id="ux"><option value="1">True</option><option value=0>False</option></select>
      </form>
    </div>
  

{% endblock %}
